<!DOCTYPE html>
<html lang="en" xmlns:="www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Contact List</title>
</head>
<body>
<a href="/add">Add a Contact</a><br />
<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone Number</th>
    </tr>

    <tr th:each="contact : ${contacts}">
        <td th:text="${contact.fname}"></td>
        <td th:text="${contact.lname}"></td>
        <td th:text="${contact.email}"></td>
        <td th:text="${contact.phone}"></td>
        <td>
            <a th:href="@{/update/{id}(id=${contact.id})}">Update</a> -
            <a th:href="@{/detail/{id}(id=${contact.id})}">Details</a> -
            <a th:href="@{/delete/{id}(id=${contact.id})}">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>